body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;
}

h2{
    text-align: center;
    color:cornflowerblue;
}

.tekst{
    text-align: center;

    
}